@media (min-width: $tablet-width) {
    .additionally-list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: $desktop-width) {
    .additionally-list--wrapper {
        margin-top: 50px;
    }
}

.additionally-list__item--wrapper {
    margin-bottom: 25px;
    @media (min-width: $tablet-width) {
        width: 201px;
    }
}

@media (min-width: $tablet-width) {
    .additionally-list__item--wrapper:nth-child(1) {
        margin-left: 10px;
        margin-bottom: 36px;
    }
    .additionally-list__item--wrapper:nth-child(2) {
        margin-left: 124px;
        margin-bottom: 36px;
    }
    .additionally-list__item--wrapper:nth-child(3) {
        margin-left: 10px;
        margin-bottom: 36px;
    }
    .additionally-list__item--wrapper:nth-child(4) {
        margin-left: 124px;
        margin-bottom: 36px;
    }
}

@media (min-width: $desktop-width) {
    .additionally-list__item--wrapper:nth-child(1) {
        margin-left: 10px;
        margin-bottom: 36px;
    }
    .additionally-list__item--wrapper:nth-child(2) {
        margin-left: 105px;
        margin-bottom: 36px;
    }
    .additionally-list__item--wrapper:nth-child(3) {
        margin-left: 137px;
        margin-bottom: 36px;
    }
    .additionally-list__item--wrapper:nth-child(4) {
        margin-left: 198px;
        margin-bottom: 36px;
    }
}

.additionally-list__checkbox {
    line-height: 18px;
    margin-left: 46px;
    color: inherit;
    position: relative;
    display: block;
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;
    }
}

.additionally-list__checkbox-input+.additionally-list__checkbox::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -46px;
    top: -5px;
    border: 1px solid $special_light-grey-second;
    @media (min-width: $tablet-width) {
        width: 40px;
        height: 40px;
        left: -61px;
    }
}

.additionally-list__checkbox-input:checked+.additionally-list__checkbox::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -42px;
    top: -2px;
    background: url("../../img/form/checked.svg");
    left: -39px;
    top: 4px;
    // background: url("../../img/form/check.svg");
    background-repeat: no-repeat;
    @media (min-width: $tablet-width) {
        background: url("../../img/form/checked-tablet.svg");
        background-repeat: no-repeat;
        left: -52px;
        top: 7px;
    }
}
