.additional {
    // outline: 5px solid rgb(179, 255, 0);
    // outline-offset: -10px;
    color: $base-color-black;
    padding: 20px 20px 0 20px;
    @media (min-width: $tablet-width) {
        padding: 0;
    }
    @media (min-width: $desktop-width) {
        width: 73%;
    }
}

.additional__headline {
    font-size: 24px;
    line-height: 24px;
    color: inherit;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 53px;
        height: 2px;
        top: 15px;
        right: -22px;
        background-color: $basic_green;
    }
}

@media (min-width: $tablet-width) {
    .additional__headline {
        font-size: 36px;
        line-height: 36px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            top: 20px;
            left: -50px;
            background-color: $basic_green;
        }
        &::after {
            content: "";
            position: absolute;
            width: 328px;
            height: 2px;
            top: 25px;
            right: -22px;
            background-color: $basic_green;
        }
    }
}

@media (min-width: $desktop-width) {
    .additional__headline {
        font-size: 36px;
        line-height: 36px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 70px;
            height: 2px;
            top: 25px;
            left: -120px;
            background-color: $basic_green;
        }
        &::after {
            content: "";
            position: absolute;
            width: 957px;
            height: 2px;
            top: 25px;
            left: 370px;
            background-color: $basic_green;
        }
    }
}
