.data-list {
    padding: 0 20px 0 20px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 320px;
        height: 1px;
        top: 180px;
        left: 0;
        background-color: $light_grey;
        @media (min-width: $tablet-width) {
            display: none;
        }
    }
}

.data-list__item {
    margin-bottom: 14px;
    color: $special_dark-grey;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &:last-child {
        margin-bottom: 0 20px 0 20px;
    }
}

.data-list__input-area {
    border: 1px solid $special_border-grey;
    padding: 13px 15px 14px 15px;
    width: 100%;
    box-sizing: border-box;
    @media (min-width: $tablet-width) {
        padding: 17px 15px 18px 15px;
        font-size: 20px;
        line-height: 30px;
    }
    @media (min-width: $desktop-width) {
        height: 52px;
    }
}

.data-list__option {
    margin-right: 10px;
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;
    }
}

.data-list__option--name {
    width: 15%;
}

.data-list__option--weight {
    width: 30%;
}

.data-list__option--age {
    width: 50%;
}
