.main-block {
    background-image: url("../../img/background-cat.jpg");
    background-repeat: no-repeat;
    width: 320px;
    height: 480px;
    @media (min-width: $tablet-width) {
        background-image: none;
        width: 100%;
    }
    @media (min-width: $desktop-width) {
        width: 100%;
        height: 696px;
        background: #fff;
    }
    @media (min-width: $desktop-width) {
        height: 556px;
    }
}

.main-block--wrapper {
    z-index: 1;
    margin-top: 70px;
    &::before {
        content: "";
        position: absolute;
    }
}

@media (min-width: $desktop-width) {
    .main-block--wrapper::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 694px;
        right: 0;
        top: 0;
        z-index: 1;
        background-image: url("../../img/background-cat-desktop.png");
    }
}

.main-block__wrapper {
    width: 320px;
    height: 302px;
    display: flex;
    flex-direction: column;
    background: $special_green;
    @media (min-width: $tablet-width) {
        background: none;
        width: 768px;
    }
}

.main-block__headline {
    font-size: 36px;
    line-height: 36px;
    color: $basic-white;
    text-align: center;
    @media (min-width: $tablet-width) {
        font-size: 60px;
        line-height: 60px;
        color: $base-color-black;
        text-align: left;
    }
}

.main-block__headline--wrapper {
    margin-top: 27px;
    @media (min-width: $tablet-width) {
        margin-left: 90px;
        width: 70%;
    }
    @media (min-width: $desktop-width) {
        margin-left: 90px;
        width: 70%;
        margin-bottom: 10px;
    }
}

.main-block__text {
    font-size: 14px;
    line-height: 14px;
    color: $basic-white;
    text-align: center;
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 20px;
        color: $base-color-black;
        text-align: left;
    }
}

.main-block__text--wrapper {
    margin-top: 25px;
    @media (min-width: $tablet-width) {
        margin-left: 90px;
    }
}

.main-block__image {
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../img/index-can-mobile.png");
    position: relative;
    @media (min-width: $tablet-width) {
        width: 100%;
        height: 609px;
        background-image: url("../../img/index-can-tablet.png");
    }
    @media (min-width: $desktop-width) {
        width: 100%;
        height: 609px;
        background-image: none;
    }
}

@media (min-width: $desktop-width) {
    .main-block__image::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 609px;
        z-index: 2;
        top: -280px;
        left: 440px;
        background-image: url("../../img/index-can-desktop.png");
        background-repeat: no-repeat;
    }
}

.main-block__image--wrapper {
    margin: 0 auto;
    margin-top: 29px;
    margin-bottom: 25px;
}

.main-block__button {
    padding: 7px 44px;
    @media (min-width: $tablet-width) {
        position: absolute;
        top: 19px;
        left: 90px;
        padding: 14px 56px;
    }
}
