.page-header {
    width: 320px;
    display: flex;
    justify-content: center;
    @media (min-width: $tablet-width) {
        width: 768px;
        margin: 0 auto;
    }
    @media (min-width: $desktop-width) {
        width: 1200px;
        margin: 0 auto;
    }
}

.page-header__logo {
    background: url("../../img/logo.svg");
    width: 101px;
    height: 18px;
    @media (min-width: $tablet-width) {
        display: none;
    }
}
