.variables-list {
    padding: 22px 20px 0 20px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 320px;
        height: 1px;
        top: 170px;
        left: 0;
        background-color: $light_grey;
    }
    @media (min-width: $tablet-width) {
        width: 92%;
        border: 1px solid $special_border-grey;
        &::after {
            display: none;
        }
    }
}

.variables-list__item {
    color: $special_dark-grey-second;
    text-transform: uppercase;
}

.variables-list__item--wrapper {
    margin-bottom: 25px;
}

.variables-list__option {
    color: $special_dark-grey-second;
    line-height: 18px;
    margin-left: 46px;
    margin-bottom: 25px;
    position: relative;
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;
    }
}

.variables-list__input-radio+.variables-list__option::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: -46px;
    // border: 1px solid $special_dark-grey-second;
    border: 1px solid $special_light-grey-second;
    border-radius: 50%;
}

.variables-list__input-radio:checked+.variables-list__option::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 9px;
    left: -36.7px;
    background-color: $basic_green;
    border-radius: 50%;
}

@media (min-width: $tablet-width) {
    left: -37px;
    background-color: $basic_green;
    border-radius: 50%;
}
